*{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.row{
    width: 900px;
    height: 550px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

/* Style Foto */
.side-image{
    background-image: url("http://localhost/inventaria/public/img/login1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}


/* Style Bagian di samping kanan gambar */
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.input-box {
    width: 330px;
    box-sizing: border-box;
}

/* Logo */
.logo-inventaria img{
    align-items: center;
}

/* Inventaria APP */
.input-box h1 {
    font-size: 36px;
    font-weight: 700;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}
.input-field {
    display: flex;
    flex-direction: column;
    position: 'relative';
    padding: 0 10px 0 10px;
}

/* Style input username dan password */
.input-box form-control{
    background-color: #00C2FF;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    border-radius: 20px;
    transition: .4s; 
    font-weight: bold;
    background-image: linear-gradient(to right, #00C2FF, #1547C8);
    color: white;
}
.submit:hover {
    background: rgba (37, 95, 156, 0.9);
    color: #fff;
}
.signin {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}
.span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
span a:hover {
    text-decoration: underline;
    color: #000;
}

/* css add data */
.btn-add {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10%;
    margin-top: 10%;

}

.accordion-button{
    background-color: #ffffff;
}
.accordion-button a:hover{
    background-color: #010094;
}

.fa-plus {
    width: 70%;
    height: 100%;
}
.btn-add{
    width: 70px;
    height: 60px;   
    margin-bottom: 4%;
    margin-right: 6%;
}

/* Responsive */


